body {
    margin: 0;
}

section.example {
    margin: 16px;
    background-color: #eee;
    color: #222;
    font-size: initial;
    padding: 0.1em 1em;
    text-align: justify;
}

@media (min-width: 500px) {
    section.example {
        width: calc(500px - 2 * 16px);
    }
}
